<!DOCTYPE html>
<html>
<head>
  <title>Shopper</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p>
  <%= link_to "Home", root_path %> |
  <%= link_to pluralize("Current cart: #{current_cart.items_count}", 'item'), cart_path %> |
  <%= link_to 'Find order', find_path %>
</p>

<hr />


<div class="notice">
  <%=h flash[:success]%>
</div>

<%= yield %>
</body>
</html>